* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #1e1e1e;
    padding: 20px 0;
}

body{
    background-color: #242424;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 100px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: gold;
}

main {
    color: white;
    text-align: center;
    flex: 1;
    margin-bottom: 50px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    position: relative;
    overflow: hidden;
    font-size: 50px;
    font-weight: bold;
    z-index: 1;
    transition: color 0.4s ease-in-out; 
}

.about::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('pizza.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: filter 0.4s ease-in-out; 
    z-index: -1;
}

.about:hover::before {
    filter: grayscale(0%);
}

.about:hover {
    color: goldenrod;
    transition: color 0.4s ease-in-out; 
}
.feedback-container {
    background-color: #1e1e1e;
    border-radius: 20px;
    padding: 40px;
    width: 400px;
    text-align: center;
    margin: 50px auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

input, textarea {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

input:focus, textarea:focus {
    outline: 2px solid gold;
}

button {
    background-color: gold;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: darkgoldenrod;
}

footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    padding: 0 20px; 
}

footer a{
    padding-right: 0; 
    margin: 0 15px;
}

footer img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
}