* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #1e1e1e;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
}

body {
    background-color: #242424;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 100px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: gold;
}

main {
    color: white;
    text-align: center;
}

.page {
    display: inline-block;
}

.restaurent {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 1200px;
    background-color: #333;
    padding: 30px;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.restaurent:hover {
    background-color: goldenrod;
}

.restaurent img {
    width: 350px;
    height: 350px;
    border-radius: 350px;
    margin-right: 60px;
}

.restaurent p {
    text-align: left;
    font-size: 28px;
    line-height: 2;
}

.restaurent h1 {
    font-size: 32px;
    text-align: left;
    margin: 5;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    position: relative;
    overflow: hidden;
    font-size: 50px;
    font-weight: bold;
    z-index: 1;
    transition: color 0.4s ease-in-out;
}

.about::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('pizza.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: filter 0.4s ease-in-out;
    z-index: -1;
}

.about:hover::before {
    filter: grayscale(0%);
}

.about:hover {
    color: goldenrod;
    transition: color 0.4s ease-in-out;
}


@media (max-width: 1080px) {

    .restaurent {
        flex-direction: column;
        height: auto; 
        width: 90%; 
        padding: 15px;
    }

    .restaurent img {
        width: 200px; 
        height: 200px;
        margin-right: 0; 
        margin-bottom: 20px; 
    }

    .restaurent h1 {
        font-size: 24px;
        margin-left: 20px;
    }

    .restaurent p {
        font-size: 24px;
        margin-left: 20px; 
    }
}
